/* //width of iphone 14 promax */
/* @media (max-width: 932px) {
  * {
    color: blue;
  }
} */

#root {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box; /* Include padding in width and height */
}


